@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

* {
  margin: auto;
  max-width: 700px;
  font-family: "Permanent Marker", cursive;
}

body {
  background-color: #f7f7f7;
}

.welcome {
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#welcome-button {
  outline: none;
  border: none;
  text-decoration: none;
}

.scene {
  margin: 150px;
  width: 400px;
  height: 400px;
  perspective: 1800px;
}

.cube {
  width: inherit;
  height: inherit;
  position: relative;

  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(30deg);
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 40s infinite;

  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 40s infinite;
}

@-webkit-keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
  25% {
    -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
  }
}

@-moz-keyframes rotatecube {
  0% {
    -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
  25% {
    -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }
  50% {
    -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  75% {
    -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }
  100% {
    -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
  }
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0.7;
}

.cube-face-front {
  transform: translate3d(0, 0, 200px);
}

.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 200px);
}

.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 200px);
}

.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 200px);
}

.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 200px);
}

.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 200px);
}

.parent-images {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  margin-top: 2rem;
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 20px;
  left: 30px;
  -webkit-animation: slide-in-blurred-left 7s cubic-bezier(0.23, 1, 0.32, 1)
    reverse both;
  animation: slide-in-blurred-left 7s cubic-bezier(0.23, 1, 0.32, 1) reverse
    both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

header {
  justify-content: center;
  text-align: center;
}

.title h1 {
  position: absolute;
  top: 20%;
  font-family: "Permanent Marker", cursive;
  font-size: 45px;
  -webkit-animation: fade-in 4s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
  animation: fade-in 4s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-clouds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: puff-in-center 3s cubic-bezier(0.47, 0, 0.745, 0.715) 3s
    both;
  animation: puff-in-center 3s cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.nav-clouds img {
  width: 100%;
  height: auto;
}

.nav-clouds p {
  visibility: hidden;
  position: absolute;
  margin-top: -4rem;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  opacity: 70%;
}

.weather-cloud:hover p {
  visibility: visible;
}

.crystal-cloud p {
  visibility: hidden;
}
.crystal-cloud:hover p {
  visibility: visible;
}

.apod-cloud p {
  visibility: hidden;
}
.apod-cloud:hover p {
  visibility: visible;
}

.horoscope-cloud p {
  visibility: hidden;
}
.horoscope-cloud:hover p {
  visibility: visible;
}

.rumi-cloud p {
  visibility: hidden;
}
.rumi-cloud:hover p {
  visibility: visible;
}

.current-info {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
}
.current-info p {
  font-size: 20px;
}

.crystal-ball {
  margin-top: 3rem;
}

.crystal-ball h2 {
  font-size: 20px;
  text-align: left;
}

.crystal-ball img {
  height: 40%;
  width: 40%;
}

#answer {
  position: relative;
  display: inline-block;
}

#answer .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 50%; /* Set the width of the positioned div */
}

#magic-button {
  outline: none;
  border: none;
  background-color: #f7f7f7;
}

#magic-button :hover {
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

#potd {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 5px solid black;
  border-radius: 75px;

  max-width: 650px;
  max-height: 100vh;
}

.nasa-photo {
  margin-top: 5rem;
}

.nasa-photo h3 {
  margin-top: 1rem;
  font-size: 18px;
}

.horoscopes {
  padding-top: 2rem;
}

.stars h2 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stars a {
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 20px;
  padding: 0 2rem;

  -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both;
}

@-webkit-keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
.circle-container {
  margin: 3rem auto;
  /* --circle-radius: 14em; */
  position: relative;
  width: 40em;
  height: 40em;

  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: none;
  border-radius: 50%;
}

.circle-container .stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 4em;
  margin: -2em -5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-container .sign {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 4em;
  margin: -2em -5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 2s;
}

.aries {
  transform: translate(40vmin);
}

.taurus {
  transform: rotate(30deg) translate(40vmin) rotate(-30deg);
}

.gemini {
  transform: rotate(60deg) translate(40vmin) rotate(-60deg);
}

.cancer {
  transform: rotate(90deg) translate(40vmin) rotate(-90deg);
}

.leo {
  transform: rotate(120deg) translate(40vmin) rotate(-120deg);
}

.virgo {
  transform: rotate(150deg) translate(40vmin) rotate(-150deg);
}

.libra {
  transform: rotate(180deg) translate(40vmin) rotate(-180deg);
}

.scorpio {
  transform: rotate(210deg) translate(40vmin) rotate(-210deg);
}

.sagittarius {
  transform: rotate(240deg) translate(40vmin) rotate(-240deg);
}

.capricorn {
  transform: rotate(270deg) translate(40vmin) rotate(-270deg);
}

.aquarius {
  transform: rotate(300deg) translate(40vmin) rotate(-300deg);
}

.pisces {
  transform: rotate(330deg) translate(40vmin) rotate(-330deg);
}

.selected {
  transform: scale(1);
  transition: transform(5s);
}

.birthdates {
  font-size: 10px;
  visibility: hidden;
}

.sign:hover .birthdates {
  visibility: visible;
}

.rumi-quote {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#rumi-api {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 8rem 0 8rem;
  text-align: center;
}
